.TodoItem{
    background-color:#fafafa;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:24px;
    box-shadow:0 5px 50px rgba(32,35,41,.15);
    border-radius:4px;
    overflow-wrap: break-word;
}
.TodoItem-p{
    margin:24px 0 24px 24px;
    width:calc(100% - 120px);
    font-size:18px;
    line-height:24px;
    font-weight:400
}
.TodoItem-p--complete{
    text-decoration:line-through;
    color:rgb(127, 255, 0);
}
.Icon{
    cursor:pointer;
    display:flex;
    justify-content:center;
    /* align-items:center; */
    height:50px;
    width:50px;
    font-size:34px;
    font-weight:700;
    border-radius: 50%;
}
.Icon-check{
    position:absolute;
    left:1px
}
.Icon-check--active{
    color:rgb(127, 255, 0)
}
.Icon-delete{
    background-color: rgb(255, 0, 0);
    /* position:relative;
    right:-24px;
    bottom: 48px; */
}
.Icon-delete:hover{
    color:red;
    background-color: rgba(0, 0, 0, 0.603);
}