.CreateTodoButton{
    background-color:rgb(97, 218, 250);
    box-shadow:0 5px 25px rgba(97,218,250,.5);
    border:none;
    border-radius:50%;
    cursor:pointer;
    font-size:50px;
    position:fixed;
    bottom:24px;
    right:24px;
    font-weight:700;
    color:rgb(250, 250, 250);
    display:flex;
    justify-content:center;
    align-items:center;
    height:64px;
    width:64px;
    transform:rotate(0);
    transition:.3s ease;
    z-index: 3;
    
}
.CreateTodoButton:hover{
    transform:rotate(224deg);
    background-color: rgb(245, 33, 33);
    box-shadow: 0 5px 25px rgb(143, 4, 4);
}