body{
  margin:0;
  padding:0;
  background:#062636;
  color:#000000;
  font-family:montserrat,Arial,Helvetica,sans-serif;
}
#root{
  margin:0 24px;
  position:relative;
  min-height:100vh
}
h3{
  font-size: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
}
