.TodoSearch{
    background:rgb(249, 251, 252);
    border-radius:2px;
    border:2px solid #202329;
    margin:0 24px;height:64px;
    width:calc(100% - 62px);
    font-size:24px;
    text-align:center;
    font-family:montserrat;
    font-weight:400;
    color:rgb(30, 30, 31);
    box-shadow: 3px 3px 0px rgb(156, 39, 176);
    border-radius: 5px;
}
.TodoSearch::placeholder{
    color:rgb(165, 165, 165);
    font-family:montserrat;
    font-weight:400
}
.TodoSearch:focus{
    outline-color:rgb(156, 39, 176);
    box-shadow: 6px 6px 0px rgb(156, 39, 176)
}

.TodoSearch:disabled{
    opacity: 50%;
}